@model IEnumerable<DO_AN_1_TEST01.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNhanCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhanCungCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NhaCungCapId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NhaCungCapId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NhaCungCapId })
        </td>
    </tr>
}

</table>
